body {
    background: linear-gradient(90deg, #DCE35B, #45B649);
    /*
    만약 세로 방향으로 gradient를 주고 싶다면 아래와 같이! 
    background: linear-gradient(180deg, #DCE35B, #45B649);
    height: 100vh;
   */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gnb {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding-bottom: 10px;
}

.gnb a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.gnb a span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.gnb a span:nth-child(1) {
    top:0;
    left:0;
}

.gnb a span:nth-child(2) {
    top:100%;
    left:0;
    color: #45B649;
}

.gnb a:hover span:nth-child(1){
    top: -100%;
}

.gnb a:hover span:nth-child(2){
    top: 0;
}