body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tab-inner {
    /* border: 1px solid red; */
    width: 300px;
    height: 350px;
    position: relative;
}

input[name=tabmenu] {
    display: none;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /*
    opacity: 0는 눈에만 안보일뿐 존재 자체가 사라지는 것이 아니기 때문에 a 태그에 링크를 주면 가장 위에 존재하는 3번째 사진의 링크로만 이동을 하게 된다. 따라서 visibility: hidden을 통해서 눈에도 안 보이고 존재도 없게 만들어줘야 a 태그에 지정한 링크로 정확하게 이동하게 된다.
    */ 
    visibility: hidden;
    transition: 0.5s;
}

.btn {
    /* border: 1px solid blue; */
    position: absolute;
    width: 100%;
    text-align: center;
    /* 여기 부분 이해하는게 매우 중요함
    position: absolute를 주면서 컨텐츠의 너비값으로 width가 설정되었기 때문에 text-align: center;를 해도 중앙 정렬되지 않는다. 따라서 width: 100%를 준 다음에 중앙 정렬하는 것이 중요하다 */
    bottom: 10px;
    cursor: pointer;
}

.btn label {
    background-color: lightgray;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}

input[id=tab1]:checked ~ .slide1,
input[id=tab2]:checked ~ .slide2,
input[id=tab3]:checked ~ .slide3 {
    opacity: 1;
    visibility: visible;
}

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
    background-color: crimson;
}